*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;

}

.headingcenterclass{
    text-align: center;
    font-size: 3rem; 
    font-family: 'Hind', sans-serif;
    margin-bottom: 10px;
}
p{
    font-family:"poppins", sans-serif;
}
.subheading_center{
    text-align: center;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
.subheading_font{
    font-size: 1.7rem;
    font-weight: lighter;
}
.margintop{
    margin-top: 70px;
}
.greytextcolor{
    color:rgb(92, 91, 91);
}
h3{
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
}



.navbar{
   display: flex;
   height: 100px; 
   align-items: center;
   justify-content:space-around;
}
.navbar>h3{
    font-family: 'Hind', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
}
.scroll_links{
    display: flex;
}
.scroll_links>ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.scroll_links>ul>li>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Hind', sans-serif;
    font-size: 1.3rem;
}
.scroll_links>ul>li>a:hover{
    color:rgb(136, 134, 134);
}
.collasped-navbar{
    display: none;
    height: 30px;
    border: none;
}
.collasped-navbar>img{
    height: 30px;
}
.hidden-navbar{
    position: fixed;
    background-color: rgba(78, 72, 72, 0.747);
    height: 400px;
    width: 350px;
    padding: 30px;
    z-index: 1;
    left: 100%;
    top: 0px;
    transition: transform 1s ease-in-out;
}
.hidden-navbar>ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hidden-navbar>ul>li>a{
    text-decoration: none;
    color: rgb(241, 235, 235);
    font-family: 'Hind', sans-serif;
    font-size: 1.3rem;
}
.hidden-navbar>ul>li>a:hover{
    color:rgb(0, 0, 0);
}
.hidden-navbar-translate-class{
    transform: translateX(-100%);
}
.navbar-collapser-cross-img{
    position: absolute;
    border: none;
    top: 30px;
    right: 60px;
}
.navbar-collapser-cross-img>img{
    height: 40px;
}



.intro{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    height: 400px;
    width: 100vw;
    font-family: 'Hind', sans-serif;
    background-color:#EEEEEE ;
}
.intro_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    gap: 5px;
}
.intro_content>h1{
    font-size: 3rem;
}
.intro_content>h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.myimage{
    border-radius: 50%;
    height: 300px;
    filter: drop-shadow(2px 2px 7px black);
}
.svg>img{
    height: 30px;
    padding: 10px;
}
.svg{
    margin-top: 10px;
}

.linkscontainer{
    display:flex;
    gap: 30px;
}
.link_button{
    border: 2px solid rgb(170, 168, 168); ;
    border-radius: 30px;
    height: 30px;
    width: 120px;
    font-family:"Poppins", sans-serif;
}
.svg{
    display:flex;
    gap: 20px;
}
.svg>a>img{
    height: 30px;
}
.background_black_button{
    background-color: rgb(41, 40, 40);
    color: white;
}
.background_black_button:hover{
    background-color: rgb(250, 177, 41);
    color: white;
}
.background_white_button{
    background-color: white;
}




.project_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project_card{
    height: 400px;
    width:350px;
    border: 1px solid rgb(177, 175, 175);
    border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #EEEEEE;
}
.project_card>img{
    border-radius: 5px;
    height: 70%;
    width: 80%;
}



.skillbox-container{
    display: flex;
    justify-content:space-around;
}
.individual-skill{
    display: flex;
    padding: 15px;
    gap: 15px;
}
.individual-skill>p{
    font-weight: 500;
    font-size: larger;
}
.individual-skill>img{
    height: 30px;
}
.individual-skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.about-me-boxes-container{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.about-me-box{
    border: 1px solid grey;
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 2px;
}
.about-me-box>img{
    height: 30px;
}

.footer{
    background-color: #EEEEEE;
}
#CONTACT{
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}
.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.contact-details>h4{
    margin-bottom: 20px;
    font-size: 1.7rem;
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
}
.social-media>a>img{
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.form>input{
    height: 20px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #8f8c8c;
    padding: 7px;
}
.form>input::placeholder{
    font-family: "poppins", sans-serif;
}
.form>textarea::placeholder{
    font-family: "poppins", sans-serif;
}
.form>textarea{
    width: 400px;
    border-radius: 5px;
    border: 1px solid #8f8c8c;
    padding: 7px;
}

/* Media queries */
@media (min-width:800px) and (max-width:1250px){
    .scroll_links>ul{
        gap: 25px;
    }
    .project_container{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns:  repeat(2,1fr);
        justify-items: center;
        row-gap: 30px;
    }
}

@media (min-width:460px) and (max-width:800px){
    .scroll_links>ul{
        display: none;
    }
    .collasped-navbar{
        display: inline-block;
    }
    .myimage{
        height: 150px;
    }
    .intro{
        flex-direction: column;
        height: fit-content;
        gap: 30px;
        padding: 20px 0px;
    }
    .project_container{
        display: flex;
        justify-items: center;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .skillbox-container{
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
    .for-centering{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #CONTACT{
        flex-direction: column;
        align-items: start;
        gap: 5vh;
        width: fit-content;
    }
    .about-me-boxes-container{
        flex-direction: column;
        gap: 5vh;
        align-items: center;
    }
}

@media (max-width:459px){
    .hidden-navbar{
        width: 90vw;
    }
    .scroll_links>ul{
        display: none;
    }
    .collasped-navbar{
        display: inline-block;
    }
    .myimage{
        height: 150px;
    }
    .intro{
        flex-direction: column;
        height: fit-content;
        gap: 30px;
        padding: 20px 0px;
    }
    .project_container{
        display: flex;
        justify-items: center;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }
    .skillbox-container{
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }
    .for-centering{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #CONTACT{
        flex-direction: column;
        align-items: start;
        gap: 5vh;
        width: fit-content;
    }
    .about-me-boxes-container{
        flex-direction: column;
        gap: 5vh;
        align-items: center;
    }
    .form>input{
        width: 300px;
    }
    .form>textarea{
        width: 300px;
    }
}

/* classes used using js */
.rotate{
    animation: rotate 2s  ease-in 1s;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}