*{
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

.headingcenterclass{
    text-align: center;
    font-size: 3rem; 
    font-family: 'Hind', sans-serif;
    margin-bottom: 10px;
}
p{
    font-family: 'Hind', sans-serif;;
}
.subheading_center{
    text-align: center;
}
.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
.subheading_font{
    font-size: 1.7rem;
    font-weight: lighter;
}
.margintop{
    margin-top: 70px;
}
.greytextcolor{
    color:rgb(92, 91, 91);
}



.navbar{
   display: flex;
   height: 100px; 
   align-items: center;
   justify-content:space-evenly;
   gap: 400px;
}
.navbar>h3{
    font-family: 'Hind', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
}
.scroll_links>ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.scroll_links>ul>li>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Hind', sans-serif;
    font-size: 1.3rem;
}
.scroll_links>ul>li>a:hover{
    color:rgb(136, 134, 134);
}



.intro{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:100px;
    height: 400px;
    font-family: 'Hind', sans-serif;
    background-color:#EEEEEE ;
}
.intro_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    gap: 5px;
}
.intro_content>h1{
    font-size: 3rem;
}
.intro_content>h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
.myimage{
    border-radius: 50%;
    height: 300px;
    filter: drop-shadow(2px 2px 7px black);
}
.svg>img{
    height: 30px;
    padding: 10px;
}


.linkscontainer{
    display:flex;
    gap: 30px;
}
.link_button{
    border: 2px solid rgb(170, 168, 168); ;
    border-radius: 30px;
    height: 30px;
    width: 120px;
    font-family:"Poppins", sans-serif;
}
.svg{
    display:flex;
    gap: 20px;
}
.svg>a>img{
    height: 30px;
}
.background_black_button{
    background-color: rgb(41, 40, 40);
    color: white;
}




.project_container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.project_card{
    height: 400px;
    width:350px;
    border: 1px solid rgb(177, 175, 175);
    border-radius:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.project_card>img{
    border-radius: 5px;
    height: 70%;
    width: 80%;
}
.project_card>h3{
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
}




.footer{
    height: 20vh;
    background-color: #EEEEEE;
    margin-top: 30px;
    display: flex;
}